body {
    font-family: 'Tahoma', sans-serif;
}

/* 
.header-1 {
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.header-2 {
    text-decoration: line-through;
    font-style: italic;
}

.header-3 {
    text-decoration: overline;
} */

.text {
    text-align: justify;
}

.text > span {
    text-decoration: line-through;
}

.headers .link {
    text-decoration: none;
}

.site-nav .link {
    text-transform: none;
}

.text {
    text-indent: 50px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: normal;
}

pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

pre::first-letter{
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}

pre::selection {
    color: #ffffff;
    background-color: #3f51b5;
}
/* 
  .title {
      font-family: 'Tangerine', cursive;
  } */